---
const links = [
    {
        name: 'Home',
        link: '/'
    },
    {
        name: 'About',
        link: '/about'
    },
    {
        name: 'Contact us',
        link: '/contact'
    }
];
---

<script>
    const menuToggle = document.getElementById('burgerMenu');
    const nav = document.getElementById('navigation');

    menuToggle!.addEventListener('click', () => {
    if (nav!.style.display !== 'none') {
        nav!.style.display = 'none';
    } else {
        nav!.style.display = 'block';
    }
    });

    window.addEventListener('resize', () => {
    if (window.innerWidth >= 768) {
        nav!.style.display = 'flex';
    } else {
        nav!.style.display = 'none';
    }
    });
</script>

<header class="px-8">
    <img class="logo" src="/rms-logo.svg" alt="RMS">
    <ul id="navigation">
        {links.map(link => 
            <li>
                <a href={link.link}>{link.name}</a>
            </li>
        )}
    </ul>
    <div id="burgerMenu">☰</div>
</header>

<style>
    #navigation {
        display: none;
    }
    header {
        position: sticky;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #96c3ca;
    }
    li {
        cursor: pointer;
    }
    li:hover {
        color: white;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .logo {
        height: 100%;
    }

    ul#navigation {
        gap: 12vw;
    }

    @media (min-width: 768px) {
        ul#navigation {
            font-size: 1.5rem;
            display: flex;
            
            list-style-type: none;
            padding-right: 5%;
        }
        div#burgerMenu {
            display: none;
            padding-right: 5%;
        }
    }
</style>